<div class="container">
  <h1>All our flats:</h1>
    <% @flats.each do |flat| %>
      <div class="card">
        <h4>
          <%= flat.name %>
        </h4>
        <p>
          <%= flat.address %>
        </p>
        <p>
          <%= flat.price_per_night %>
        </p>
        <p>
          <%= flat.number_of_guests %>
        </p>
      </div>
    <% end %>
</div>
